# setup-agda

[![setup-latest](https://github.com/wenkokke/setup-agda/actions/workflows/setup-latest.yml/badge.svg)](https://github.com/wenkokke/setup-agda/actions/workflows/setup-latest.yml)
[![setup-legacy](https://github.com/wenkokke/setup-agda/actions/workflows/setup-legacy.yml/badge.svg)](https://github.com/wenkokke/setup-agda/actions/workflows/setup-legacy.yml)
[![setup-nightly](https://github.com/wenkokke/setup-agda/actions/workflows/setup-nightly.yml/badge.svg)](https://github.com/wenkokke/setup-agda/actions/workflows/setup-nightly.yml)
[![build-latest](https://github.com/wenkokke/setup-agda/actions/workflows/build-latest.yml/badge.svg)](https://github.com/wenkokke/setup-agda/actions/workflows/build-latest.yml)
[![build-legacy](https://github.com/wenkokke/setup-agda/actions/workflows/build-legacy.yml/badge.svg)](https://github.com/wenkokke/setup-agda/actions/workflows/build-legacy.yml)
[![build-nightly](https://github.com/wenkokke/setup-agda/actions/workflows/build-nightly.yml/badge.svg)](https://github.com/wenkokke/setup-agda/actions/workflows/build-nightly.yml)
[![pre-commit.ci](https://results.pre-commit.ci/badge/github/wenkokke/setup-agda/main.svg)](https://results.pre-commit.ci/latest/github/wenkokke/setup-agda/main)

Set up Agda, the standard library, or any Git-hosted library, for use in GitHub Actions.
This action can install Agda from [binary distributions][^0] or build Agda from source.
If an older version of GHC is needed to build the specified version, `setup-agda` action will call [`haskell/actions/setup`].

[^0]: All binary distributions support [cluster counting].

## Table of Contents

- [Samples](README.md#samples):
  Sample GitHub Workflows that use `setup-agda`.
- [Supported Versions](README.md#supported-versions):
  The versions of Agda that are supported by `setup-agda`.
- [Usage](README.md#usage):
  Detailed list of inputs used to configure this action.

## Samples

{% for name, contents in samples %}

### {{ name | capitalize }}

[![{{ name }}](https://github.com/wenkokke/setup-agda/actions/workflows/sample-{{ name }}.yml/badge.svg)](https://github.com/wenkokke/setup-agda/actions/workflows/sample-{{ name }}.yml)

```yaml
{{contents | trim}}
```

{% endfor %}

## Supported Versions

<table>
  <tr>
    <th></th>
    <th colspan="3">Ubuntu</th>
    <th colspan="2">macOs</th>
    <th colspan="2">Windows</th>
  </tr>
  <tr>
    <th>Agda</th>
    <th>18.04</th><th>20.04</th><th>22.04</th>
    <th>11</th><th>12</th>
    <th>2019</th><th>2022</th>
  </tr>
{%- for supported in supported_versions %}
  <tr>
    <td>{{ supported.version | trim }}</td>
    {%- for platform in known_platforms %}
    <td>
    {%- if supported.platforms[platform].build -%}
    📦 & 🏗
    {%- elif supported.platforms[platform].setup -%}
    📦 only
    {%- endif -%}
    </td>
    {%- endfor %}
  </tr>
{%- endfor %}
</table>

If 📦 is specified, the platform supports setting up the Agda version from a binary distribution.

If 🏗 is specified, the platform supports building the Agda version from source.

We encourage using the binary distributions. The binary distributions are tested on every commit. Building the latest Agda version is tested weekly on all platforms except Windows 2019. Please do not rely on the legacy builds, as these are not regularly tested. Please report any failing build _that is listed as working_, and we will update the table.

If you find a configuration for this action which builds a legacy version not listed here, please open an issue and include the GitHub workflow. You can find the configuration for the current legacy builds in the [build-legacy] workflow.

## Usage

You can customize the behaviour of `setup-agda` using its inputs, such as `agda-version` and `agda-stdlib-version` in [basic](#basic).

This section describes all inputs:

{%- for input_name, input in inputs %}

- `{{ input_name | trim }}`

  {{ input.description | trim | indent(2) }}

  {% if input.required -%}
  Required.
  {%- else -%}
  {%- if input.default -%}
  Default: `{{ input.default }}`
  {%- else -%}
  Default: `false`
  {%- endif -%}
  {%- endif %}
  {%- endfor %}

## Licenses

This action is subject to [its license] as well as [the licenses of its dependencies].

The binary distributions bundle binaries for [icu4c], and as such are subject to the [icu4c license] in addition to the [Agda license] and the licenses of its depencencies.

[binary distributions]: https://github.com/wenkokke/setup-agda/releases/tag/latest
[cluster counting]: https://agda.readthedocs.io/en/latest/tools/generating-latex.html#counting-extended-grapheme-clusters
[`haskell/actions/setup`]: https://github.com/haskell/actions/tree/main/setup#readme
[build-legacy]: .github/workflows/build-legacy.yml
[action.yml]: action.yml
[icu4c]: https://unicode-org.github.io/icu/userguide/icu4c
[icu4c license]: https://github.com/unicode-org/icu/blob/main/icu4c/LICENSE
[agda license]: https://github.com/agda/agda/blob/master/LICENSE
[its license]: https://github.com/wenkokke/setup-agda/blob/main/LICENSE
[the licenses of its dependencies]: https://github.com/wenkokke/setup-agda/blob/main/dist/licenses.txt
[build.yml]: .github/workflows/build.yml
