name: Build Nightly

on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '30 1 * * *'
  workflow_dispatch:

jobs:
  build-nightly-cabal:
    name: Build Agda (HEAD) on ${{ matrix.os }} with Cabal
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (HEAD)
        uses: ./
        with:
          agda-version: 'HEAD'
          bdist-upload: true
          bdist-name: |
            agda-{{{agda-version}}}
                -{{{arch}}}
                -${{ matrix.os }}
                -icu{{{icu-version}}}
                -ghc{{{ghc-version}}}
                -cabal{{{cabal-version}}}
          force-build: true
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-20.04, macos-11, macos-12, windows-2022]

  build-HEAD-stack:
    name: Build Agda (HEAD) on ${{ matrix.os }} with Stack
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (HEAD)
        uses: ./
        with:
          agda-version: 'HEAD'
          bdist-upload: true
          bdist-name: |
            agda-{{{agda-version}}}
                -{{{arch}}}
                -${{ matrix.os }}
                -icu{{{icu-version}}}
                -ghc{{{ghc-version}}}
                -cabal{{{cabal-version}}}
                -stack{{{stack-version}}}
          enable-stack: true
          force-build: true
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-20.04, macos-11, macos-12, windows-2022]
