name: build latest

on:
  push:
    branches: ['main']
    paths: ['**.ts', '**.js', '**.json', '**.yml']

  pull_request:
    branches: ['main']
    paths: ['**.ts', '**.js', '**.json', '**.yml']
    types: [opened, synchronize, reopened]

  workflow_call:
  workflow_dispatch:

jobs:
  ################################################################################
  # Build Agda (latest) on the latest versions of each platform
  ################################################################################

  build-latest:
    name: Build Agda (latest) on ${{ matrix.os }} with Cabal
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (latest)
        uses: ./
        with:
          agda-version: 'latest'
          bundle: true
          bundle-name: |
            agda-{{ agda }}
                -{{ arch }}
                -{{ release }}
                -ghc{{ ghc }}
                {% if icu %}-icu{{ icu }}{% endif %}
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.10'
          force-build: true
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12, windows-2022]
