name: build legacy

# The `build` workflow builds all supported versions:
# https://github.com/wenkokke/setup-agda#supported-versions

# The `build` workflow runs once per month, to ensure that each build reported
# as working still works, but does not run more frequently to save compute.
# Each of the builds uses the recommended GHC version from:
# https://wiki.portal.chalmers.se/agda/Main/Download

on:
  workflow_call:
  workflow_dispatch:

jobs:
  # Build Agda 2.6.4
  build-legacy-2_6_4:
    name: Build Agda (2.6.4) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.6.4)
        uses: ./
        with:
          agda-version: '2.6.4'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '9.4.4'
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-20.04,
            ubuntu-22.04,
            macos-11,
            macos-12,
            macos-13,
            windows-2022
          ]

  # Build Agda 2.6.3
  build-legacy-2_6_3:
    name: Build Agda (2.6.3) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.6.3)
        uses: ./
        with:
          agda-version: '2.6.3'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '9.4.4'
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-20.04,
            ubuntu-22.04,
            macos-11,
            macos-12,
            macos-13,
            windows-2022
          ]

  # Build Agda 2.6.2.2
  build-legacy-2_6_2_2:
    name: Build Agda (2.6.2.2) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.6.2.2)
        uses: ./
        with:
          agda-version: '2.6.2.2'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '9.2.4'
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-20.04,
            ubuntu-22.04,
            macos-11,
            macos-12,
            macos-13,
            windows-2022
          ]

  # Build Agda 2.6.2.1
  build-legacy-2_6_2_1:
    name: Build Agda (2.6.2.1) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.6.2.1)
        uses: ./
        with:
          agda-version: '2.6.2.1'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          # NOTE: We can't use GHC 9.2.4, because it ships with an
          #       incompatible version of bytestring-0.11.2.0.
          ghc-version: '9.0.2'
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-20.04,
            ubuntu-22.04,
            macos-11,
            macos-12,
            macos-13,
            windows-2022
          ]

  # Build Agda 2.6.2
  build-legacy-2_6_2:
    name: Build Agda (2.6.2) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.6.2)
        uses: ./
        with:
          agda-version: '2.6.2'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '9.0.2'
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-20.04,
            ubuntu-22.04,
            macos-11,
            macos-12,
            macos-13,
            windows-2022
          ]

  # Build Agda 2.6.1.3
  build-legacy-2_6_1_3:
    name: Build Agda (2.6.1.3) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.6.1.3)
        uses: ./
        with:
          agda-version: '2.6.1.3'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '8.10.7'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12, macos-13]

  # Build Agda 2.6.0.1
  build-legacy-2_6_0_1:
    name: Build Agda (2.6.0.1) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.6.0.1)
        uses: ./
        with:
          agda-version: '2.6.0.1'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '8.6.5'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12, macos-13]

  # Build Agda 2.5.4.2
  build-legacy-2_5_4_2:
    name: Build Agda (2.5.4.2) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.5.4.2)
        uses: ./
        with:
          agda-version: '2.5.4.2'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '8.4.4'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12, macos-13]

  # Build Agda 2.5.3
  build-legacy-2_5_3:
    name: Build Agda (2.5.3) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.5.3)
        uses: ./
        with:
          agda-version: '2.5.3'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '8.2.2'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12, macos-13]

  # Build Agda 2.5.2
  build-legacy-2_5_2:
    name: Build Agda (2.5.2) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - name: Build Agda (2.5.2)
        uses: ./
        with:
          agda-version: '2.5.2'
          bundle: true
          bundle-compress: ${{ runner.os == 'Linux' }}
          bundle-license-report: true
          cabal-version: '3.8'
          force-build: true
          ghc-version: '8.0.2'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12, macos-13]
