name: matrix
on:
  push:
    branches: ['main']
jobs:
  check:
    name: Check hello-world-proof.agda
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        agda-version: ['2.6.2.2', '2.6.1.3', '2.6.0.1', '2.5.4.2']
        exclude:
          # Exclude older Agda versions on Windows,
          # as they are unsupported by setup-agda:
          - os: windows-latest
            agda-version: '2.6.1.3'
          - os: windows-latest
            agda-version: '2.6.0.1'
          - os: windows-latest
            agda-version: '2.5.4.2'

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      # Setup the versions of Agda specified in the matrix,
      # together with their recommended versions of agda-stdlib:
      - uses: wenkokke/setup-agda@v2
        with:
          agda-version: ${{ matrix.agda-version }}
          agda-stdlib-version: 'recommended'

      # Check hello-world-proof.agda, which you can find in tests/agda-stdlib:
      - run: agda hello-world-proof.agda
        working-directory: tests/agda-stdlib
