name: setup nightly

# The `setup-nightly` workflow is separate from the `setup` workflow, as it is
# somewhat volatile, since it depends on whether the deploy.yml workflow on the
# agda/agda repository is passing and publishing compatible nightly builds.

on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '30 1 * * *'
  workflow_call:
  workflow_dispatch:

jobs:
  setup-nightly:
    name: Setup Agda (nightly) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Agda
        uses: ./
        with:
          force-no-build: true
          agda-version: 'nightly'
      - name: Test Agda
        run: |
          agda -v0 greet.agda
          agda -v0 hello-world.agda
        shell: sh
        working-directory: tests/agda
    strategy:
      matrix:
        os:
          [
            ubuntu-22.04,
            ubuntu-20.04,
            macos-11,
            macos-12,
            windows-2019,
            windows-2022
          ]
