name: Setup Legacy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  setup-legacy:
    name: Setup Agda (${{ matrix.agda-version }}) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Agda (${{ matrix.agda-version }})
        uses: ./
        with:
          force-no-build: true
          agda-version: ${{ matrix.agda-version }}
          agda-stdlib-version: 'recommended'
      - name: Test Agda
        run: |
          agda -v0 greet.agda
          agda -v0 hello-world.agda
        shell: sh
        working-directory: tests/agda
      - name: Test Agda with agda-stdlib
        run: |
          agda -v0 hello-world-dep.agda
          agda -v0 hello-world-dep-lookup.agda
          agda -v0 hello-world-proof.agda
        shell: sh
        working-directory: tests/agda-stdlib
    strategy:
      matrix:
        os:
          [
            ubuntu-22.04,
            ubuntu-20.04,
            macos-11,
            macos-12,
            windows-2019,
            windows-2022
          ]
        agda-version:
          ['2.5.4.2', '2.6.0.1', '2.6.1.3', '2.6.2', '2.6.2.1', '2.6.2.2']
        exclude:
          - agda-version: '2.5.4.2'
            os: windows-2019
          - agda-version: '2.5.4.2'
            os: windows-2022
          - agda-version: '2.6.0.1'
            os: windows-2019
          - agda-version: '2.6.0.1'
            os: windows-2022
          - agda-version: '2.6.1.3'
            os: windows-2019
          - agda-version: '2.6.1.3'
            os: windows-2022
          - agda-version: '2.6.2'
            os: windows-2019
          - agda-version: '2.6.2'
            os: windows-2022
          - agda-version: '2.6.2.1'
            os: windows-2019
          - agda-version: '2.6.2.1'
            os: windows-2022
