name: Setup Latest

on:
  # Run 'setup-legacy' if 'check-dist' completed:
  workflow_run:
    branches: [main]
    workflows: ['Check Dist']
    types: [completed]
  workflow_dispatch:

jobs:
  setup-latest:
    # Skip 'setup-latest' if 'check-dist' did not succeed:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    name: Setup Agda (latest) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - id: setup-agda
        name: Setup Agda
        uses: ./
        with:
          force-no-build: true
          agda-version: 'latest'
    strategy:
      matrix:
        os:
          [
            ubuntu-22.04,
            ubuntu-20.04,
            macos-11,
            macos-12,
            windows-2019,
            windows-2022
          ]
